<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    
    <localRepository>/docker/maven/repository</localRepository>
    
    <mirrors>
        <mirror>
            <id>aliyunmaven</id>
            <name>阿里云公共仓库</name>
            <url>https://maven.aliyun.com/repository/public</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>aliyun-spring</id>
            <name>阿里云Spring仓库</name>
            <url>https://maven.aliyun.com/repository/spring</url>
            <mirrorOf>spring-milestones</mirrorOf>
        </mirror>
        <mirror>
            <id>aliyun-apache-snapshots</id>
            <name>阿里云Apache快照</name>
            <url>https://maven.aliyun.com/repository/apache-snapshots</url>
            <mirrorOf>apache-snapshots</mirrorOf>
        </mirror>
    </mirrors>
    
</settings>